<h1>Rejka <span>permana</span></h1>
<br>
<div class="process-wrapper">
<div id="progress-bar-container">
	<ul>
		<li class="step step01 active"><div class="step-inner">about</div></li>
		<li class="step step02"><div class="step-inner">galery</div></li>
		<li class="step step03"><div class="step-inner">contact</div></li>
		<li class="step step04"><div class="step-inner">motivation</div></li>
		<li class="step step05"><div class="step-inner"> quotes</div></li>
	</ul>

	<div id="line">
		<div id="line-progress"></div>
	</div>
</div>

<div id="progress-content-section">
	<div class="section-content discovery active">
		<%= render "home/about/about" %>
	</div>

	<div class="section-content strategy">
		<%= render "home/galery/galery" %>
	</div>

	<div class="section-content creative">
		<%= render "home/contact/contact" %>
	</div>

	<div class="section-content production">
		<%= render "home/motivation/motivation" %>
	</div>

	<div class="section-content analysis">
		<%= render "home/quotes/quotes" %>
	</div>
	</div>
</div>
